@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply !my-0;
  }

  p {
    @apply !my-0;
  }

  input {
    @apply !bg-base-200;
  }

  input:focus {
    @apply !outline-none;
  }

  html {
    font-family: "inter";
  }

  @font-face {
    font-family: "inter";
    src: url("./fonts/Inter-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "inter";
    src: url("./fonts/Inter-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "inter";
    src: url("./fonts/Inter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "inter";
    src: url("./fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "inter";
    src: url("./fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "inter";
    src: url("./fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "inter";
    src: url("./fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "inter";
    src: url("./fonts/Inter-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }
}

:root {
  --radix-connect-button-height: 40px;
}

/* remove up and down arrows on number input fields */

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* For Chrome, Safari, and newer versions of Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For IE11 and Edge */
input[type="number"]::-ms-clear {
  display: none;
}

.btn-active {
  @apply bg-secondary;
}

/* Use slightly darker base color for backgrounds by default */
:root,
[data-theme] {
  background-color: hsl(var(--b2) / var(--tw-bg-opacity, 1));
}

/* Grid layout for home page */
.custom-auto-row-grid[data-path="/"] {
  grid-auto-rows: 0fr auto auto 1fr 1fr;
}
/* Grid layout for rest of the pages */
.custom-auto-row-grid {
  grid-auto-rows: 0fr auto 0fr;
}

/* Fix margin on lightweight charts */
.tv-lightweight-charts table {
  margin: 0 !important;
}
