@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply !my-0;
  }
  p {
    @apply !my-0;
  }
  input {
    @apply !bg-base-300;
  }
  input:focus {
    @apply !outline-none;
  }
}

:root {
  --radix-connect-button-height: 40px;
}

/* remove up and down arrows on number input fields */

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* For Chrome, Safari, and newer versions of Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For IE11 and Edge */
input[type="number"]::-ms-clear {
  display: none;
}

.tab-active {
  @apply !border-accent;
  @apply tab-border-2;
}

.btn-active {
  @apply !bg-secondary;
}
