.table thead {
  border: none;
}

.table tr {
  --tw-bg-opacity: 1;
  background-color: oklch(var(--b2));

  /* using borders instead of padding (as padding does not work for tr */
  border-color: transparent;
  border-width: 0 1rem;
}

.table tr.active,
.table tr.active:nth-child(even),
.table-zebra tbody tr:nth-child(even) {
  --tw-bg-opacity: 1;
  background-color: oklch(var(--b1) / var(--tw-bg-opacity, 1));
  border-color: oklch(var(--b1) / var(--tw-bg-opacity, 1));
}
