.orderbook-middle-row-top td,
.orderbook-middle-row-bottom td {
  padding: 0;
}
/* TODO: use daisyui color vars */
.orderbook-middle-row-top td {
  border-top: 1px solid #e5e5e5;
}

.orderbook-middle-row-bottom td {
  border-bottom: 1px solid #e5e5e5;
}
