:root {
  --color-neutral-50: rgb(246, 246, 246);
  --color-neutral-100: rgb(234, 234, 236);
  --color-neutral-200: rgb(212, 212, 215);
  --color-neutral-300: rgb(189, 189, 193);
  --color-neutral-400: rgb(159, 160, 165);
  --color-neutral-500: rgb(138, 139, 145);
  --color-neutral-600: rgb(113, 113, 120);
  --color-neutral-700: rgb(88, 88, 94);
  --color-neutral-800: rgb(56, 57, 60);
  --color-neutral-900: rgb(23, 24, 26);
  --color-brand-50: rgb(234, 255, 187);
  --color-brand-100: rgb(209, 249, 106);
  --color-brand-200: rgb(181, 228, 44);
  --color-brand-300: rgb(157, 206, 0);
  --color-brand-400: rgb(125, 175, 0);
  --color-brand-500: rgb(103, 153, 0);
  --color-brand-600: rgb(78, 127, 0);
  --color-brand-700: rgb(52, 100, 0);
  --color-brand-800: rgb(20, 65, 20);
  --color-brand-900: rgb(0, 28, 25);
  --color-success-50: rgb(238, 248, 245);
  --color-success-100: rgb(218, 240, 234);
  --color-success-200: rgb(173, 222, 209);
  --color-success-300: rgb(125, 204, 185);
  --color-success-400: rgb(56, 178, 155);
  --color-success-500: rgb(47, 155, 134);
  --color-success-600: rgb(37, 127, 110);
  --color-success-700: rgb(27, 99, 86);
  --color-success-800: rgb(15, 64, 55);
  --color-success-900: rgb(3, 28, 23);
  --color-warning-50: rgb(255, 245, 231);
  --color-warning-100: rgb(255, 231, 191);
  --color-warning-200: rgb(255, 203, 134);
  --color-warning-300: rgb(249, 174, 98);
  --color-warning-400: rgb(213, 146, 77);
  --color-warning-500: rgb(186, 126, 65);
  --color-warning-600: rgb(154, 103, 52);
  --color-warning-700: rgb(120, 80, 40);
  --color-warning-800: rgb(77, 51, 26);
  --color-warning-900: rgb(32, 22, 11);
  --color-text-primary: rgb(23, 24, 26);
  --color-text-secondary: rgb(113, 113, 120);
  --color-text-inverted: rgb(255, 255, 255);
  --color-text-success: rgb(27, 99, 86);
  --color-text-warning: rgb(120, 80, 40);
  --color-text-error: rgb(171, 34, 41);
  --color-text-inverted-stroke: rgb(46, 46, 46);
  --color-surface-background: rgb(246, 246, 246);
  --color-surface-card: rgb(255, 255, 255);
  --color-surface-divider: rgb(234, 234, 236);
  --color-surface-summary-fill: rgb(235, 235, 235);
  --color-surface-progress-circle-background: rgb(74, 100, 239);
  --color-surface-modal-background: rgb(181, 228, 44);
  --color-button-primary-fill: rgb(181, 228, 44);
  --color-button-primary-fill-hover: rgb(209, 249, 106);
  --color-button-primary-text: rgb(0, 0, 0);
  --color-button-secondary-fill: rgb(212, 212, 215);
  --color-button-secondary-fill-hover: rgb(189, 189, 193);
  --color-button-secondary-text: rgb(23, 24, 26);
  --color-button-text-text: rgb(78, 127, 0);
  --color-button-text-fill-hover: rgb(234, 255, 187);
  --color-badge-primary-text: rgb(52, 100, 0);
  --color-badge-primary-fill: rgb(209, 249, 106);
  --color-badge-success-text: rgb(27, 99, 86);
  --color-badge-success-fill: rgb(173, 222, 209);
  --color-badge-warning-text: rgb(120, 80, 40);
  --color-badge-warning-fill: rgb(255, 203, 134);
  --color-badge-error-text: rgb(171, 34, 41);
  --color-badge-error-fill: rgb(255, 198, 191);
  --color-ignore-background: rgb(255, 255, 255);
  --color-ignore-design-notes: rgb(149, 44, 254);
  --color-ignore-design-notes-soft: rgb(202, 150, 255);
  --color-error-50: rgb(255, 244, 243);
  --color-error-100: rgb(255, 229, 225);
  --color-error-200: rgb(255, 198, 191);
  --color-error-300: rgb(255, 166, 158);
  --color-error-400: rgb(255, 117, 112);
  --color-error-500: rgb(248, 76, 78);
  --color-error-600: rgb(212, 52, 57);
  --color-error-700: rgb(171, 34, 41);
  --color-error-800: rgb(115, 15, 22);
  --color-error-900: rgb(55, 3, 6);
  --color-misc-tab-border: rgb(181, 228, 44);
}
