:root {
  --color-text-primary: rgb(246, 246, 247);
  --color-text-secondary: rgb(162, 163, 167);
  --color-text-inverted: rgb(18, 20, 28);
  --color-text-success: rgb(115, 210, 189);
  --color-text-warning: rgb(255, 176, 100);
  --color-text-error: rgb(255, 122, 117);
  --color-text-inverted-stroke: rgb(46, 46, 46);
  --color-surface-background: rgb(18, 20, 28);
  --color-surface-card: rgb(41, 44, 53);
  --color-surface-divider: rgb(18, 20, 28);
  --color-surface-summary-fill: rgb(64, 66, 74);
  --color-surface-progress-circle-background: rgb(68, 80, 31);
  --color-surface-modal-background: rgb(52, 55, 63);
  --color-button-primary-fill: rgb(191, 237, 63);
  --color-button-primary-fill-hover: rgb(238, 254, 182);
  --color-button-primary-text: rgb(18, 20, 28);
  --color-button-secondary-fill: rgb(73, 75, 83);
  --color-button-secondary-fill-hover: rgb(92, 94, 101);
  --color-button-secondary-text: rgb(246, 246, 247);
  --color-button-text-text: rgb(191, 237, 63);
  --color-button-text-fill-hover: rgb(60, 70, 28);
  --color-badge-primary-text: rgb(191, 237, 63);
  --color-badge-primary-fill: rgb(84, 101, 36);
  --color-badge-success-text: rgb(178, 232, 218);
  --color-badge-success-fill: rgb(0, 107, 90);
  --color-badge-warning-text: rgb(255, 215, 156);
  --color-badge-warning-fill: rgb(133, 82, 33);
  --color-badge-error-text: rgb(255, 211, 205);
  --color-badge-error-fill: rgb(180, 38, 43);
  --color-ignore-background: rgb(18, 20, 28);
  --color-ignore-design-notes: rgb(202, 150, 255);
  --color-ignore-design-notes-soft: rgb(149, 44, 254);
  --color-error-50: rgb(92, 10, 15);
  --color-error-100: rgb(112, 15, 21);
  --color-error-200: rgb(131, 20, 27);
  --color-error-300: rgb(147, 26, 32);
  --color-error-400: rgb(180, 38, 43);
  --color-error-500: rgb(249, 76, 77);
  --color-error-600: rgb(255, 122, 117);
  --color-error-700: rgb(255, 172, 163);
  --color-error-800: rgb(255, 211, 205);
  --color-error-900: rgb(255, 243, 242);
  --color-warning-50: rgb(65, 38, 10);
  --color-warning-100: rgb(81, 48, 15);
  --color-warning-200: rgb(95, 57, 20);
  --color-warning-300: rgb(108, 65, 24);
  --color-warning-400: rgb(133, 82, 33);
  --color-warning-500: rgb(193, 123, 57);
  --color-warning-600: rgb(223, 145, 72);
  --color-warning-700: rgb(255, 176, 100);
  --color-warning-800: rgb(255, 215, 156);
  --color-warning-900: rgb(255, 245, 229);
  --color-success-50: rgb(0, 51, 42);
  --color-success-100: rgb(0, 63, 52);
  --color-success-200: rgb(0, 75, 63);
  --color-success-300: rgb(0, 86, 72);
  --color-success-400: rgb(0, 107, 90);
  --color-success-500: rgb(4, 157, 135);
  --color-success-600: rgb(54, 181, 158);
  --color-success-700: rgb(115, 210, 189);
  --color-success-800: rgb(178, 232, 218);
  --color-success-900: rgb(236, 249, 245);
  --color-brand-50: rgb(41, 47, 22);
  --color-brand-100: rgb(50, 58, 25);
  --color-brand-200: rgb(60, 70, 28);
  --color-brand-300: rgb(68, 80, 31);
  --color-brand-400: rgb(84, 101, 36);
  --color-brand-500: rgb(122, 149, 47);
  --color-brand-600: rgb(143, 175, 52);
  --color-brand-700: rgb(168, 207, 58);
  --color-brand-800: rgb(191, 237, 63);
  --color-brand-900: rgb(238, 254, 182);
  --color-neutral-50: rgb(41, 44, 52);
  --color-neutral-100: rgb(53, 55, 63);
  --color-neutral-200: rgb(64, 66, 74);
  --color-neutral-300: rgb(73, 75, 83);
  --color-neutral-400: rgb(92, 94, 102);
  --color-neutral-500: rgb(137, 139, 145);
  --color-neutral-600: rgb(162, 163, 167);
  --color-neutral-700: rgb(192, 193, 196);
  --color-neutral-800: rgb(220, 221, 223);
  --color-neutral-900: rgb(246, 246, 247);
  --color-misc-tab-border: rgb(191, 237, 63);
}
