:root {
  --font-heading-h5-small: 700 14/14 Lexend Deca;
  --font-heading-h5-big: 700 16/16 Lexend Deca;
  --font-heading-h4-small: 700 16/16 Lexend Deca;
  --font-heading-h4-big: 700 20/20 Lexend Deca;
  --font-heading-h3-small: 700 20/20 Lexend Deca;
  --font-heading-h3-big: 700 28/28 Lexend Deca;
  --font-heading-h2-small: 700 24/24 Lexend Deca;
  --font-heading-h2-big: 700 40/40 Lexend Deca;
  --font-heading-h1-small: 700 32/32 Lexend Deca;
  --font-heading-h1-big: 700 56/56 Lexend Deca;
  --font-label-tiny: 500 10/10 Lexend Deca;
  --font-label-tiny-slim: 400 10/10 Lexend Deca;
  --font-label-tiny-fat: 700 10/10 Lexend Deca;
  --font-label-small: 400 12/12 Lexend Deca;
  --font-label-small-display: 700 10/10 Lexend Peta;
  --font-label-small-fat: 700 12/12 Lexend Deca;
  --font-label-medium: 400 14/14 Lexend Deca;
  --font-label-medium-fat: 700 14/14 Lexend Deca;
  --font-label-medium-slim: 400 14/14 Lexend Deca;
  --font-label-big: 400 16/16 Lexend Deca;
  --font-label-big-fat: 700 16/16 Lexend Deca;
  --font-label-big-x-fat: 700 22/16 Lexend Deca;
  --font-label-big-x: 400 22/16 Lexend Deca;
  --font-paragraph-small: 400 12/18 Lexend Deca;
  --font-paragraph-small-fat: 700 12/18 Lexend Deca;
  --font-paragraph-medium: 400 14/22 Lexend Deca;
  --font-paragraph-medium-fat: 700 14/22 Lexend Deca;
  --font-paragraph-big: 400 16/24 Lexend Deca;
  --font-paragraph-big-fat: 700 16/24 Lexend Deca;
  --font-button-small: 700 10/10 Lexend Peta;
  --font-button-medium: 700 12/12 Lexend Peta;
  --font-button-big: 700 16/16 Lexend Peta;
  --font-button-huge: 700 20/20 Lexend Peta;
}
