:root {
  --typography-heading-h5-small-font-size: 14px;
  --typography-heading-h5-small-text-decoration: none;
  --typography-heading-h5-small-font-family: Lexend Deca;
  --typography-heading-h5-small-font-weight: 700;
  --typography-heading-h5-small-font-style: normal;
  --typography-heading-h5-small-font-stretch: normal;
  --typography-heading-h5-small-letter-spacing: 0;
  --typography-heading-h5-small-line-height: 14px;
  --typography-heading-h5-small-paragraph-indent: 0;
  --typography-heading-h5-small-paragraph-spacing: 0;
  --typography-heading-h5-small-text-case: capitalize;
  --typography-heading-h5-big-font-size: 16px;
  --typography-heading-h5-big-text-decoration: none;
  --typography-heading-h5-big-font-family: Lexend Deca;
  --typography-heading-h5-big-font-weight: 700;
  --typography-heading-h5-big-font-style: normal;
  --typography-heading-h5-big-font-stretch: normal;
  --typography-heading-h5-big-letter-spacing: 0;
  --typography-heading-h5-big-line-height: 16px;
  --typography-heading-h5-big-paragraph-indent: 0;
  --typography-heading-h5-big-paragraph-spacing: 0;
  --typography-heading-h5-big-text-case: capitalize;
  --typography-heading-h4-small-font-size: 16px;
  --typography-heading-h4-small-text-decoration: none;
  --typography-heading-h4-small-font-family: Lexend Deca;
  --typography-heading-h4-small-font-weight: 700;
  --typography-heading-h4-small-font-style: normal;
  --typography-heading-h4-small-font-stretch: normal;
  --typography-heading-h4-small-letter-spacing: 0;
  --typography-heading-h4-small-line-height: 16px;
  --typography-heading-h4-small-paragraph-indent: 0;
  --typography-heading-h4-small-paragraph-spacing: 0;
  --typography-heading-h4-small-text-case: capitalize;
  --typography-heading-h4-big-font-size: 20px;
  --typography-heading-h4-big-text-decoration: none;
  --typography-heading-h4-big-font-family: Lexend Deca;
  --typography-heading-h4-big-font-weight: 700;
  --typography-heading-h4-big-font-style: normal;
  --typography-heading-h4-big-font-stretch: normal;
  --typography-heading-h4-big-letter-spacing: 0;
  --typography-heading-h4-big-line-height: 20px;
  --typography-heading-h4-big-paragraph-indent: 0;
  --typography-heading-h4-big-paragraph-spacing: 0;
  --typography-heading-h4-big-text-case: capitalize;
  --typography-heading-h3-small-font-size: 20px;
  --typography-heading-h3-small-text-decoration: none;
  --typography-heading-h3-small-font-family: Lexend Deca;
  --typography-heading-h3-small-font-weight: 700;
  --typography-heading-h3-small-font-style: normal;
  --typography-heading-h3-small-font-stretch: normal;
  --typography-heading-h3-small-letter-spacing: 0;
  --typography-heading-h3-small-line-height: 20px;
  --typography-heading-h3-small-paragraph-indent: 0;
  --typography-heading-h3-small-paragraph-spacing: 0;
  --typography-heading-h3-small-text-case: capitalize;
  --typography-heading-h3-big-font-size: 28px;
  --typography-heading-h3-big-text-decoration: none;
  --typography-heading-h3-big-font-family: Lexend Deca;
  --typography-heading-h3-big-font-weight: 700;
  --typography-heading-h3-big-font-style: normal;
  --typography-heading-h3-big-font-stretch: normal;
  --typography-heading-h3-big-letter-spacing: 0;
  --typography-heading-h3-big-line-height: 28px;
  --typography-heading-h3-big-paragraph-indent: 0;
  --typography-heading-h3-big-paragraph-spacing: 0;
  --typography-heading-h3-big-text-case: capitalize;
  --typography-heading-h2-small-font-size: 24px;
  --typography-heading-h2-small-text-decoration: none;
  --typography-heading-h2-small-font-family: Lexend Deca;
  --typography-heading-h2-small-font-weight: 700;
  --typography-heading-h2-small-font-style: normal;
  --typography-heading-h2-small-font-stretch: normal;
  --typography-heading-h2-small-letter-spacing: -0.24px;
  --typography-heading-h2-small-line-height: 24px;
  --typography-heading-h2-small-paragraph-indent: 0;
  --typography-heading-h2-small-paragraph-spacing: 0;
  --typography-heading-h2-small-text-case: capitalize;
  --typography-heading-h2-big-font-size: 40px;
  --typography-heading-h2-big-text-decoration: none;
  --typography-heading-h2-big-font-family: Lexend Deca;
  --typography-heading-h2-big-font-weight: 700;
  --typography-heading-h2-big-font-style: normal;
  --typography-heading-h2-big-font-stretch: normal;
  --typography-heading-h2-big-letter-spacing: -0.4px;
  --typography-heading-h2-big-line-height: 40px;
  --typography-heading-h2-big-paragraph-indent: 0;
  --typography-heading-h2-big-paragraph-spacing: 0;
  --typography-heading-h2-big-text-case: capitalize;
  --typography-heading-h1-small-font-size: 32px;
  --typography-heading-h1-small-text-decoration: none;
  --typography-heading-h1-small-font-family: Lexend Deca;
  --typography-heading-h1-small-font-weight: 700;
  --typography-heading-h1-small-font-style: normal;
  --typography-heading-h1-small-font-stretch: normal;
  --typography-heading-h1-small-letter-spacing: -0.64px;
  --typography-heading-h1-small-line-height: 32px;
  --typography-heading-h1-small-paragraph-indent: 0;
  --typography-heading-h1-small-paragraph-spacing: 0;
  --typography-heading-h1-small-text-case: capitalize;
  --typography-heading-h1-big-font-size: 56px;
  --typography-heading-h1-big-text-decoration: none;
  --typography-heading-h1-big-font-family: Lexend Deca;
  --typography-heading-h1-big-font-weight: 700;
  --typography-heading-h1-big-font-style: normal;
  --typography-heading-h1-big-font-stretch: normal;
  --typography-heading-h1-big-letter-spacing: -0.56px;
  --typography-heading-h1-big-line-height: 56px;
  --typography-heading-h1-big-paragraph-indent: 0;
  --typography-heading-h1-big-paragraph-spacing: 0;
  --typography-heading-h1-big-text-case: capitalize;
  --typography-label-tiny-font-size: 10px;
  --typography-label-tiny-text-decoration: none;
  --typography-label-tiny-font-family: Lexend Deca;
  --typography-label-tiny-font-weight: 500;
  --typography-label-tiny-font-style: normal;
  --typography-label-tiny-font-stretch: normal;
  --typography-label-tiny-letter-spacing: 0.2px;
  --typography-label-tiny-line-height: 10px;
  --typography-label-tiny-paragraph-indent: 0;
  --typography-label-tiny-paragraph-spacing: 0;
  --typography-label-tiny-text-case: none;
  --typography-label-tiny-slim-font-size: 10px;
  --typography-label-tiny-slim-text-decoration: none;
  --typography-label-tiny-slim-font-family: Lexend Deca;
  --typography-label-tiny-slim-font-weight: 400;
  --typography-label-tiny-slim-font-style: normal;
  --typography-label-tiny-slim-font-stretch: normal;
  --typography-label-tiny-slim-letter-spacing: 0.2px;
  --typography-label-tiny-slim-line-height: 10px;
  --typography-label-tiny-slim-paragraph-indent: 0;
  --typography-label-tiny-slim-paragraph-spacing: 0;
  --typography-label-tiny-slim-text-case: none;
  --typography-label-tiny-fat-font-size: 10px;
  --typography-label-tiny-fat-text-decoration: none;
  --typography-label-tiny-fat-font-family: Lexend Deca;
  --typography-label-tiny-fat-font-weight: 700;
  --typography-label-tiny-fat-font-style: normal;
  --typography-label-tiny-fat-font-stretch: normal;
  --typography-label-tiny-fat-letter-spacing: 0.2px;
  --typography-label-tiny-fat-line-height: 10px;
  --typography-label-tiny-fat-paragraph-indent: 0;
  --typography-label-tiny-fat-paragraph-spacing: 0;
  --typography-label-tiny-fat-text-case: none;
  --typography-label-small-font-size: 12px;
  --typography-label-small-text-decoration: none;
  --typography-label-small-font-family: Lexend Deca;
  --typography-label-small-font-weight: 400;
  --typography-label-small-font-style: normal;
  --typography-label-small-font-stretch: normal;
  --typography-label-small-letter-spacing: 0.24px;
  --typography-label-small-line-height: 12px;
  --typography-label-small-paragraph-indent: 0;
  --typography-label-small-paragraph-spacing: 0;
  --typography-label-small-text-case: none;
  --typography-label-small-display-font-size: 10px;
  --typography-label-small-display-text-decoration: none;
  --typography-label-small-display-font-family: Lexend Peta;
  --typography-label-small-display-font-weight: 700;
  --typography-label-small-display-font-style: normal;
  --typography-label-small-display-font-stretch: normal;
  --typography-label-small-display-letter-spacing: 0.2px;
  --typography-label-small-display-line-height: 10px;
  --typography-label-small-display-paragraph-indent: 0;
  --typography-label-small-display-paragraph-spacing: 0;
  --typography-label-small-display-text-case: uppercase;
  --typography-label-small-fat-font-size: 12px;
  --typography-label-small-fat-text-decoration: none;
  --typography-label-small-fat-font-family: Lexend Deca;
  --typography-label-small-fat-font-weight: 700;
  --typography-label-small-fat-font-style: normal;
  --typography-label-small-fat-font-stretch: normal;
  --typography-label-small-fat-letter-spacing: 0.24px;
  --typography-label-small-fat-line-height: 12px;
  --typography-label-small-fat-paragraph-indent: 0;
  --typography-label-small-fat-paragraph-spacing: 0;
  --typography-label-small-fat-text-case: none;
  --typography-label-medium-font-size: 14px;
  --typography-label-medium-text-decoration: none;
  --typography-label-medium-font-family: Lexend Deca;
  --typography-label-medium-font-weight: 400;
  --typography-label-medium-font-style: normal;
  --typography-label-medium-font-stretch: normal;
  --typography-label-medium-letter-spacing: 0.28px;
  --typography-label-medium-line-height: 14px;
  --typography-label-medium-paragraph-indent: 0;
  --typography-label-medium-paragraph-spacing: 0;
  --typography-label-medium-text-case: none;
  --typography-label-medium-fat-font-size: 14px;
  --typography-label-medium-fat-text-decoration: none;
  --typography-label-medium-fat-font-family: Lexend Deca;
  --typography-label-medium-fat-font-weight: 700;
  --typography-label-medium-fat-font-style: normal;
  --typography-label-medium-fat-font-stretch: normal;
  --typography-label-medium-fat-letter-spacing: 0.28px;
  --typography-label-medium-fat-line-height: 14px;
  --typography-label-medium-fat-paragraph-indent: 0;
  --typography-label-medium-fat-paragraph-spacing: 0;
  --typography-label-medium-fat-text-case: none;
  --typography-label-medium-slim-font-size: 14px;
  --typography-label-medium-slim-text-decoration: none;
  --typography-label-medium-slim-font-family: Lexend Deca;
  --typography-label-medium-slim-font-weight: 400;
  --typography-label-medium-slim-font-style: normal;
  --typography-label-medium-slim-font-stretch: normal;
  --typography-label-medium-slim-letter-spacing: 0.28px;
  --typography-label-medium-slim-line-height: 14px;
  --typography-label-medium-slim-paragraph-indent: 0;
  --typography-label-medium-slim-paragraph-spacing: 0;
  --typography-label-medium-slim-text-case: none;
  --typography-label-big-font-size: 16px;
  --typography-label-big-text-decoration: none;
  --typography-label-big-font-family: Lexend Deca;
  --typography-label-big-font-weight: 400;
  --typography-label-big-font-style: normal;
  --typography-label-big-font-stretch: normal;
  --typography-label-big-letter-spacing: 0.32px;
  --typography-label-big-line-height: 16px;
  --typography-label-big-paragraph-indent: 0;
  --typography-label-big-paragraph-spacing: 0;
  --typography-label-big-text-case: none;
  --typography-label-big-fat-font-size: 16px;
  --typography-label-big-fat-text-decoration: none;
  --typography-label-big-fat-font-family: Lexend Deca;
  --typography-label-big-fat-font-weight: 700;
  --typography-label-big-fat-font-style: normal;
  --typography-label-big-fat-font-stretch: normal;
  --typography-label-big-fat-letter-spacing: 0.32px;
  --typography-label-big-fat-line-height: 16px;
  --typography-label-big-fat-paragraph-indent: 0;
  --typography-label-big-fat-paragraph-spacing: 0;
  --typography-label-big-fat-text-case: none;
  --typography-label-big-x-fat-font-size: 22px;
  --typography-label-big-x-fat-text-decoration: none;
  --typography-label-big-x-fat-font-family: Lexend Deca;
  --typography-label-big-x-fat-font-weight: 700;
  --typography-label-big-x-fat-font-style: normal;
  --typography-label-big-x-fat-font-stretch: normal;
  --typography-label-big-x-fat-letter-spacing: 0.44px;
  --typography-label-big-x-fat-line-height: 16px;
  --typography-label-big-x-fat-paragraph-indent: 0;
  --typography-label-big-x-fat-paragraph-spacing: 0;
  --typography-label-big-x-fat-text-case: none;
  --typography-label-big-x-font-size: 22px;
  --typography-label-big-x-text-decoration: none;
  --typography-label-big-x-font-family: Lexend Deca;
  --typography-label-big-x-font-weight: 400;
  --typography-label-big-x-font-style: normal;
  --typography-label-big-x-font-stretch: normal;
  --typography-label-big-x-letter-spacing: 0.44px;
  --typography-label-big-x-line-height: 16px;
  --typography-label-big-x-paragraph-indent: 0;
  --typography-label-big-x-paragraph-spacing: 0;
  --typography-label-big-x-text-case: none;
  --typography-paragraph-small-font-size: 12px;
  --typography-paragraph-small-text-decoration: none;
  --typography-paragraph-small-font-family: Lexend Deca;
  --typography-paragraph-small-font-weight: 400;
  --typography-paragraph-small-font-style: normal;
  --typography-paragraph-small-font-stretch: normal;
  --typography-paragraph-small-letter-spacing: 0.24px;
  --typography-paragraph-small-line-height: 18px;
  --typography-paragraph-small-paragraph-indent: 0;
  --typography-paragraph-small-paragraph-spacing: 0;
  --typography-paragraph-small-text-case: none;
  --typography-paragraph-small-fat-font-size: 12px;
  --typography-paragraph-small-fat-text-decoration: none;
  --typography-paragraph-small-fat-font-family: Lexend Deca;
  --typography-paragraph-small-fat-font-weight: 700;
  --typography-paragraph-small-fat-font-style: normal;
  --typography-paragraph-small-fat-font-stretch: normal;
  --typography-paragraph-small-fat-letter-spacing: 0.24px;
  --typography-paragraph-small-fat-line-height: 18px;
  --typography-paragraph-small-fat-paragraph-indent: 0;
  --typography-paragraph-small-fat-paragraph-spacing: 0;
  --typography-paragraph-small-fat-text-case: none;
  --typography-paragraph-medium-font-size: 14px;
  --typography-paragraph-medium-text-decoration: none;
  --typography-paragraph-medium-font-family: Lexend Deca;
  --typography-paragraph-medium-font-weight: 400;
  --typography-paragraph-medium-font-style: normal;
  --typography-paragraph-medium-font-stretch: normal;
  --typography-paragraph-medium-letter-spacing: 0.28px;
  --typography-paragraph-medium-line-height: 22px;
  --typography-paragraph-medium-paragraph-indent: 0;
  --typography-paragraph-medium-paragraph-spacing: 0;
  --typography-paragraph-medium-text-case: none;
  --typography-paragraph-medium-fat-font-size: 14px;
  --typography-paragraph-medium-fat-text-decoration: none;
  --typography-paragraph-medium-fat-font-family: Lexend Deca;
  --typography-paragraph-medium-fat-font-weight: 700;
  --typography-paragraph-medium-fat-font-style: normal;
  --typography-paragraph-medium-fat-font-stretch: normal;
  --typography-paragraph-medium-fat-letter-spacing: 0.28px;
  --typography-paragraph-medium-fat-line-height: 22px;
  --typography-paragraph-medium-fat-paragraph-indent: 0;
  --typography-paragraph-medium-fat-paragraph-spacing: 0;
  --typography-paragraph-medium-fat-text-case: none;
  --typography-paragraph-big-font-size: 16px;
  --typography-paragraph-big-text-decoration: none;
  --typography-paragraph-big-font-family: Lexend Deca;
  --typography-paragraph-big-font-weight: 400;
  --typography-paragraph-big-font-style: normal;
  --typography-paragraph-big-font-stretch: normal;
  --typography-paragraph-big-letter-spacing: 0.32px;
  --typography-paragraph-big-line-height: 24px;
  --typography-paragraph-big-paragraph-indent: 0;
  --typography-paragraph-big-paragraph-spacing: 0;
  --typography-paragraph-big-text-case: none;
  --typography-paragraph-big-fat-font-size: 16px;
  --typography-paragraph-big-fat-text-decoration: none;
  --typography-paragraph-big-fat-font-family: Lexend Deca;
  --typography-paragraph-big-fat-font-weight: 700;
  --typography-paragraph-big-fat-font-style: normal;
  --typography-paragraph-big-fat-font-stretch: normal;
  --typography-paragraph-big-fat-letter-spacing: 0.32px;
  --typography-paragraph-big-fat-line-height: 24px;
  --typography-paragraph-big-fat-paragraph-indent: 0;
  --typography-paragraph-big-fat-paragraph-spacing: 0;
  --typography-paragraph-big-fat-text-case: none;
  --typography-button-small-font-size: 10px;
  --typography-button-small-text-decoration: none;
  --typography-button-small-font-family: Lexend Peta;
  --typography-button-small-font-weight: 700;
  --typography-button-small-font-style: normal;
  --typography-button-small-font-stretch: normal;
  --typography-button-small-letter-spacing: 0.2px;
  --typography-button-small-line-height: 10px;
  --typography-button-small-paragraph-indent: 0;
  --typography-button-small-paragraph-spacing: 0;
  --typography-button-small-text-case: uppercase;
  --typography-button-medium-font-size: 12px;
  --typography-button-medium-text-decoration: none;
  --typography-button-medium-font-family: Lexend Peta;
  --typography-button-medium-font-weight: 700;
  --typography-button-medium-font-style: normal;
  --typography-button-medium-font-stretch: normal;
  --typography-button-medium-letter-spacing: 0.24px;
  --typography-button-medium-line-height: 12px;
  --typography-button-medium-paragraph-indent: 0;
  --typography-button-medium-paragraph-spacing: 0;
  --typography-button-medium-text-case: uppercase;
  --typography-button-big-font-size: 16px;
  --typography-button-big-text-decoration: none;
  --typography-button-big-font-family: Lexend Peta;
  --typography-button-big-font-weight: 700;
  --typography-button-big-font-style: normal;
  --typography-button-big-font-stretch: normal;
  --typography-button-big-letter-spacing: 0.32px;
  --typography-button-big-line-height: 16px;
  --typography-button-big-paragraph-indent: 0;
  --typography-button-big-paragraph-spacing: 0;
  --typography-button-big-text-case: uppercase;
  --typography-button-huge-font-size: 20px;
  --typography-button-huge-text-decoration: none;
  --typography-button-huge-font-family: Lexend Peta;
  --typography-button-huge-font-weight: 700;
  --typography-button-huge-font-style: normal;
  --typography-button-huge-font-stretch: normal;
  --typography-button-huge-letter-spacing: 0.4px;
  --typography-button-huge-line-height: 20px;
  --typography-button-huge-paragraph-indent: 0;
  --typography-button-huge-paragraph-spacing: 0;
  --typography-button-huge-text-case: uppercase;
}
